<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
</head>
<body>
	<table>
        <tr>
            <th>ID</th>
            <th>Firstname</th>
            <th>Lastname</th>
            <th>Salary</th>
            <th>Date of birth</th>
        </tr>
        <#list users as user>
		    <tr>
			    <td>${user.id}</td>
                <td>${user.firstName}</td>
                <td>${user.lastName}</td>
                <td>${user.salary}</td>
                <td>${user.dateOfBirth}</td>
		    </tr>
        </#list>
    </table>
</body>
</html>